<div class="flex-container">

  <div class="flex-item header">
    {{header}}
    <div class="subheader">
      {{subheader}}
    </div>
  </div>

  <div class="divider">
  </div>

  <div class="flex-item bottom">

    <div class="flex-item one">
      <a md-raised-button
         href="{{gitHub}}"
         class="github"
      >
      GitHub
     </a>
    </div>

    <div class="flex-item two">
      <a md-raised-button
         href="{{linkedin}}"
         class="linkedin"
      >
      LinkedIn
      </a>
    </div>

  </div>

</div>
